<div class="container"> 
  <img class="img-circle" src="{{image}}" alt="{{vibe}}">
  <h2>{{vibe}}</h2> 
  <p>{{id}}</p>
  {{!-- <a href="/animals/{{id}}/edit">Edit</a> --}}
    <img class="img-circle" src="{{image}}" alt="{{vibe}}">
 <h2>{{vibe}}</h2> 
  <p>{{id}}</p>
</div>

{{!-- <div class="container">
  {{#each elements}}
  <div class="element-list">
    <a href="/elements/{{id}}/result"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div> --}}

{{!-- may need to change "animal" back to "name" if not working --}}