<div class="animal">
  <img class="img-circle" src="{{image}}" alt="{{animal}}">
  <h2>{{animal}}</h2> 
  <div>Personality: {{personality}}</div>
  <div>Type: {{type}}</div>
  <a href="/animals/{{id}}/edit">Edit</a>
</div>

{{!-- may need to change "animal" back to "name" if not working --}}